h1 {
  text-align: center;
}
/*body{background:linear-gradient(90deg,red,yellow,orange,blue);

}*/
.container {
  background:radial-gradient(white,black);
  padding: 100px 10px 100px 10px;
}

.marker {
  width: 200px;
  height: 25px;
  margin: 8px auto;
}

.cap {
  width: 60px;
  height: 15px;
}
 
.sleeve {
  width: 108px;
  height: 25px;
  background-color: rgba(255, 255, 255,0.4);
  border-right:1px solid rgba(0,0,0,0.75);
  border-left: 15px double rgba(0, 0, 0, 0.75);
  border-top:1px solid rgba(0,0,0,0.75);
  border-bottom:0.5px solid rgba(0,0,0,0.75);
}

.cap, .sleeve {
  display: inline-block;
}

.red {
  background: linear-gradient(rgb(122, 74, 14), rgb(245, 62, 113), rgb(162, 27, 27));
  box-shadow: 10px 0 10px 0 rgba(83, 14, 14, 0.8);
}

.green {
  background: linear-gradient(#55680D, #71F53E, #116C31);
  box-shadow: 10px 0 10px 0 #3B7E20;
}

.blue {
  background: linear-gradient(hsl(186, 76%, 16%), hsl(223, 90%, 60%), hsl(240, 56%, 42%));
  box-shadow: 10px 0 20px 0 blue;
}