*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    color: #595959;
    display: flex;
    font-family: sans-serif;
    justify-content: center;
}

.container {
    background-color: #3cbfbf;
    margin: 50px;
    padding: 50px;
    border-radius: 25px;
}

.title{
    text-align: center;
    border-bottom: 2px solid #545454;
}

.title span{
    color: white;
}

.status-action{
    display: flex;
    justify-content: space-around;
    font-size: 25px;
    margin-top: 25px;

}

.status span{
    color: white;
}

.reset{
    cursor: pointer;
}

.reset:hover{
    color: white;
}

.grid-container{
    background: #0DA192;
    display: grid;
    /* grid-template-columns: auto auto auto; */
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 8px;
   margin-top: 40px;
}

.grid-items{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120px;
    width: 120px;
    background: #3cbfbf;
    cursor: pointer;
}

.x::after{
    content: '×';
    font-size: 150px;
}

.o::after{
    content: '○';
    color: white;
    font-size: 150px;
}

.won::after {
    color: red;
}
 
@media only screen and (max-width: 1024px) {
    .grid-container {
      margin-top: 25px;
      grid-gap: 10px;
    }
  
    .grid-items {
      height: 100px;
      width: 100px;
    }
  
    .x::after {
      font-size: 150px;
    }
  
    .o::after {
      font-size: 175px;
    }
  }

  @media only screen and (max-width: 540px) {
    .container {
      margin: 25px;
      padding: 25px;
    }
  
    .grid-items {
      height: 100px;
      width: 100px;
    }
  
    .x::after {
      font-size: 100px;
    }
  
    .o::after {
      font-size: 125px;
    }
